@charset "utf-8";
/* CSS Geral BASIC */
/* 
Nome das Fontes:



*/
@import url('fonts.css');


/* Reset */
* {margin:0; padding:0;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li { margin:0 auto; padding:0 auto; list-style:none; outline:none; border:none; }
/* End Reset */


/*------------------------------- Body ---------------------------------*/
body {margin: 0px 0px 0px 0px; padding:0; letter-spacing:-0.01em; list-style:none; overflow-x:hidden; position:relative; background:#fff url(../imgs/bg.jpg) top center no-repeat;}

html { border:0; height:100%;}

*:focus { outline: none;}

input { background-color:transparent; border:none; letter-spacing:0px; }

/*------------------------------- Tags ---------------------------------*/

h1 { font-family: 'PT Sans', sans-serif; font-size:17px; color:#505050; line-height:19px; font-weight: 400; }

h2 { font-family: 'Yanone Kaffeesatz', sans-serif; font-size:17px; color:#505050; line-height:19px; font-weight: 400; }


p  { font-family: 'PT Sans', sans-serif; font-size:15px; color:#5a5858; line-height:18px; text-align:justify;  }
p+p {margin-top:15px;}

a { font-size:15px; color:#000; margin:0px 0px 2px 0px; line-height:22px; text-decoration:none; }

a:hover { text-decoration:underline; }
a:visited { text-decoration:none; outline:none; }
a:link, a.link, a:visited, a.visited, .efeito_opacity{-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;text-decoration:none;}
a img {opacity:1;filter:Alpha(opacity=100);}
a img:hover{/*opacity: 0.8;filter:Alpha(opacity=80);*/-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;text-decoration:none;}







/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- CONTAINER ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.container{width:980px; height:auto; margin:0px auto; overflow:hidden;}




#menu_logo{width:100%; overflow:hidden;}
#logo{width:270px; height:74px; overflow:hidden; margin:9px 0px 0px 8px; float:left;}
#menu{float:right;}
#menu ul{overflow:hidden;}
#menu ul li{float:left; height:99.47px;}
#menu ul li:hover, #menu ul li.select{background:#fff;}
#menu ul li a{height:99.47px; display:table-cell; vertical-align:middle; padding:0px 10px; font-size:17px; color:#2c2d6a;}




#topo_telefone{width:100%; overflow:hidden; height:60px;}
#topo_telefone h1{font-size:20.71px; margin:20px 0px 0px 346px; letter-spacing:-0.03em;}




#banner{width:960px; padding-bottom:110px; background:url(../imgs/bg-slider.jpg) bottom center no-repeat; margin:30px 0px 0px 0px; position:relative; }

#banner_slider{width:960px; height:330px; overflow:hidden; border:#8d8eff 10px solid;}


#nav { z-index: 50; position: absolute; bottom: 130px; left: 45%; }
#nav a { margin: 0 5px; padding: 3px 5px; background:url(../imgs/controle_portifolio.png) -24px 0px no-repeat; width:10px; height: 10px; text-indent: 999px; display: block; overflow: hidden; float: left;}
#nav a.activeSlide { background:url(../imgs/controle_portifolio.png) 0px 0px no-repeat; }
#nav a:focus { outline: none; }





.title_home{width:100%; height:60px; overflow:hidden; background:#ebe8e8; border-left:4px solid #8d8eff; padding-left:15px; }
.title_home h1{width:100%; height:60px; display:table-cell; vertical-align:middle; font-size:21px; color:#2c2d6a;}



.lista_produtos_home{width:100%; overflow:hidden; margin:10px 0px 0px 0px;}
.lista_produtos{width:1000px; overflow:hidden; margin:0px -9px;}
.lista_produtos li{width:230px; height:238px; overflow:hidden; float:left; margin:0px 10px 15px 10px; background:#ebe8e8;}
.lista_produtos li h1{width: 210px; overflow:hidden; display:block; font-size:17px; color:#505050; font-weight:400; letter-spacing:-1px;}
.lista_produtos li .produtos_image{width:231px; height:150px; overflow:hidden; position:relative; margin:12px 0px 15px 0px;}
.lista_produtos li .produtos_image_sombra{width:231px; height:150px; overflow:hidden; position:absolute; background:url(../imgs/sombra_produto.png) top center no-repeat;}


.lista_empresa_servicos_dicas{width:980px; overflow:hidden; margin-bottom: 63px;}
.lista_empresa_servicos_dicas ul{overflow:hidden; width:1000px; margin: 0px -6px;}
.lista_empresa_servicos_dicas ul li{width:315px; height:360px; float:left; overflow:hidden; padding-bottom: 30px; margin: 0px 8px;}
.lista_empresa_servicos_dicas ul li .img{margin:10px 0px;}
.lista_empresa_servicos_dicas ul li p{height:93px; overflow:hidden;}
.lista_empresa_servicos_dicas ul li .btn_mais{margin:15px 0px 0px 95px;}


.botao{width:128px; height:40px; background:#ebe8e8; font-size:17px; color:#2f2f2f; display:table-cell; vertical-align:middle; text-align:center;}
.botao:hover{background:#ccc;}




.lista_dicas_home{width:100%; overflow:hidden; margin-top:10px;}
.lista_dicas_home div{width:100%; height:55px; overflow:hidden; margin-bottom:20px;}
.lista_dicas_home div h1{color:#5a5858;}
.lista_dicas_home_img{float:left; margin:0px 5px 0px 0px;}




#rodape{width:100%; height:122px; overflow:hidden; background:#000;}


#rodape_menu, #rodape_menu a{font-family: 'Yanone Kaffeesatz', sans-serif; color:#FFF; font-size:17px;}


#rodape_menu{padding-top:20px; overflow:hidden;}
#rodape_menu li{float:left; margin-right:5px;}
#rodape_menu_endereco{height:20px; margin-top:8px; padding-left:20px; background:url(../imgs/img_home.jpg) 0px 0px no-repeat;}
#rodape_menu_telefone{height:15px; margin-top:8px; padding-left:20px; background:url(../imgs/img_telefone_rodape.jpg) 0px 0px no-repeat;}
#rodape_menu_endereco p, #rodape_menu_telefone p{font-family: 'Cabin', sans-serif; font-size:14px; color:#FFF;}


#rodape_menu_homeweb{width:50px; height:66px; margin: -61px 0px 0px 0px; float: right;}




#rodape_direitos{width:100%; height:25px; background:#8d8eff; text-align:center; }
#rodape_direitos h2{font-size:15px; color:#FFF; padding-top: 4px;}














